<html>
<head>
<link rel="stylesheet" href="../../app/css/bootstrap.css">
<meta name="viewport" content="width-device-width, user-scalable-no,initial-scale-1.0">
<meta charset="utf-8">
<title>Ubicacion</title>
<link rel="stylesheet" href="../../app/css/normalize.css" charset="utf-8">
<link rel="stylesheet" href="../../app/css/estilo.css" charset="utf-8">
</head>
<body>
<!--

BARRA DE NAVEGACION !!!

-->
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../index.html">Camionetas</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="autodestacado.html">Inicio</a></li>
            <li><a href="#about">Sobre Nosotros</a></li>
            <li><a href="#contact">Contacto</a></li>
            <li><a href="mapa.html">Mapa</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<!--

FIN BARRA DE NAVEGACION !!!

--> 
<center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4692.419922520151!2d-70.78197240736763!3d-33.73373141438281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2scl!4v1461629882918" width="1024" height="768" frameborder="0" style="border:0" allowfullscreen></iframe></center>
</body>
</html>